@use "../../styles/mixins.scss" as *;

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 2.5rem;

  @include desktop {
    padding: 4rem 2.5rem;
  }
}
