@import "../../../styles/mixins.scss";

.mobileNavbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
  background-color: var(--dark-blue);
  opacity: 0.95;
  z-index: 100;

  @include desktop {
    display: none;
  }
}

.mobileNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}