@use "../../styles/mixins.scss" as *;

.features {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;

  h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--dark-blue);
  }

  & p {
    color: var(--gray);
    font-size: 1.6rem;
  }
}

.featuresList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--light-gray);

  @include desktop {
    flex-direction: row;
    max-width: 768px;
    border-top: none;
    margin: 0 auto;
  }

  .featureItem {
    position: relative;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid var(--light-gray);
    text-align: center;
    cursor: pointer;

    @include desktop {
      border-bottom: 1px solid var(--light-gray);
    }

    &:hover {
      span {
        color: var(--light-red);
      }
    }

    &.active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        width: 50%;
        margin: 0 auto;
        background-color: var(--light-red);

        @include desktop {
          width: 100%;
        }
      }

      span {
        color: var(--dark-blue);
      }
    }

    span {
      color: var(--gray);
      font-weight: 500;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      transition: color 0.3s ease;
    }
  }
}
